<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mainactivity.musicplayer.example.com.englishzubrila">

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ici"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".fragments.pagergallery.InitialFragment"
            android:launchMode="singleTop" />

        <activity android:name=".corses.alphabet.FirstLevel"
            android:launchMode="singleTop"/>

        <activity android:name=".corses.transcription.Transcription"
            android:launchMode="singleTop"/>
        <activity android:name=".corses.tobe.ToBe"
            android:launchMode="singleTop"/>
        <activity android:name=".corses.quastions.Questions"
            android:launchMode="singleTop"/>
        <activity android:name=".corses.prularfrom.PluralForm"
            android:launchMode="singleTop"/>
        <activity android:name=".corses.teherels.ThereIS"
            android:launchMode="singleTop"/>
        <activity android:name=".corses.articles.Articles"
            android:launchMode="singleTop"/>
        <activity android:name=".fragments.pagerbooks.model.web.WebViewB"
            android:launchMode="singleTop"/>
        <activity android:name=".corses.simple.PresentSimple" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>