<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mainactivity.musicplayer.example.com.englishzubrila">

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:noHistory="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ici"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Glav.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InitilCourses.InitialFragment"
            android:launchMode="singleTask" />

        <activity android:name=".FirstLevel.Beginer.Alphabet.FirstLevel" />
        <activity android:name=".FirstLevel.Beginer.Transcription.Transcription" />
        <activity android:name=".FirstLevel.Beginer.ToBe.ToBe" />
        <activity android:name=".FirstLevel.Beginer.Quastions.Questions" />
        <activity android:name=".FirstLevel.Beginer.PrularForm.PluralForm"/>
        <activity android:name=".FirstLevel.Beginer.TehereIs.ThereIS" />
        <activity android:name=".FirstLevel.Beginer.Articles.Articles" />
        <activity android:name=".InitilCourses.WebViewB" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>